/*Estilização do body*/
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
/*Estilização navbar*/
.top{
    width: 100%;
    height: 75px;
    background-image: url(../IMG/o.png);
    background-size: 100%;
    color: white;
    box-shadow: 0px 1px 10px #951abe ;
}

.menu2{
    color: white;
    float: right;
    display: inline;
    font-size: 20px;
}

.menu button{
    margin-top: 1.6%;
    background-color: #951abe;
    float: right;
    color: white;
    font-size: 20px;
    margin-right: 4%;
}

.hidden{
    display: none;
        
}


.menu-s{
    display: inline;
    font-size: 20px;
    float: right;
    text-decoration: none;
    margin-top: 1.4%;
 }

.menu-s ul,
.menu-s li{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    
}

.menu-s li{
    float: left;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.menu-s li:hover{
    background-color: rgb(92, 15, 92);
    border: solid white 1px;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-s a{
    text-decoration: none;
    color: white;
}

/*estilização do perfil*/

.perfil{
    float: right;
    margin-top: 0.5%;
    margin-right: 1.5%;
}

.iconperfil{
    max-height: 9vh;
    border-radius: 5vh;
    
}


/*Estilização logo*/

.logo{
    float: left;
    margin-left: 60px;
    height: 60px;
}

.logo h2{
    float: left;
    color: #feae13;

}

.logo img{
    height: 60px;
    width: auto;
    margin-right: 5px;
}

/*Estilização pesquisar*/

.pesquisar{
    float: left;
    margin-left: 80px;
    border-radius: 5px;
    margin-top: 2.1%;
}

.pesquisar input{
    width: 170%;
    border-radius: 5px;
}
/*estilização favoritos*/
.favoritos{
    margin: 4%;
}

.favoritos h1{
    border-bottom: rgb(209, 205, 205) 1px solid;
}

/*Estilização historia 1*/

.his1{
    float: left;    background-color: rgb(209, 205, 205);
    width: 22%;
    border-radius: 10px;
    height: 350px;
}

.his1 img{
    margin-top: 5px;
    margin-left: 30px;
    height: 220px;
    width: 220px;
}

.his1 h2{
    text-align: center;
}

.botao1{
    background-color: #fc933d;
    text-align: center;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    height: 10%;
    cursor: pointer;
    border-radius: 10px;
}

.botao1 a{
    text-decoration: none;
    color: black;
}

.botao1 :hover{
    background-color: #fc933d;
    transition: 1s;
}

/*Estilização historia 2*/

.his2{
    float: left;
    background-color: rgb(209, 205, 205) ;
    margin-left: 4%;
    width: 22%;
    border-radius: 10px;
    height: 350px;
}

.his2 img{
    margin-top: 5px;
    margin-left: 25px;
    height: 220px;
    width: 220px;
}

.his2 h2{
    text-align: center;
}

.botao2{
    background-color: #fc933d;
    text-align: center;
    font-size: 25px;
    height: 10%;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.botao2 a{
    text-decoration: none;
    color: black;
}

/*Estilização historia 3*/

.his3{
    float: left;
    background-color: rgb(209, 205, 205) ;
    margin-left: 4%;
    width: 22%;
    border-radius: 10px;
    height: 350px;
}

.his3 img{
    margin-top: 5px;
    margin-left: 25px;
    height: 220px;
    width: 220px;
}

.his3 h2{
    text-align: center;
}

.botao3{
    background-color: #fc933d;
    text-align: center;
    font-size: 25px;
    height: 10%;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.botao3 a{
    text-decoration: none;
    color: black;
}

/*Estilização historia 4*/

.his4{
    float: right;
    background-color: rgb(209, 205, 205) ;
    margin-left: 3%;
    width: 22%;
    border-radius: 10px;
    height: 350px;
}

.his4 img{
    margin-top: 5px;
    margin-left: 25px;
    height: 220px;
    width: 220px;
}

.his4 h2{
    text-align: center;
}

.botao4{
    background-color: #fc933d;
    text-align: center;
    font-size: 25px;
    height: 10%;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.botao4 a{
    text-decoration: none;
    color: black;
}

.novahis{
    background-image: url(../IMG/o.png);
    float: right;
    margin-top: -7%;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    cursor: pointer;
}

.novahis a{
    text-decoration: none;
    color: white;
}

.footer{
    margin-top: 4%;
    float: left;
    height: 200px;
    width: 100%;
    background-image: url(../IMG/WhatsApp\ Image\ 2024-11-21\ at\ 19.30.45.jpeg);
    font-size: 20px;
    background-size: 100%;
    box-shadow: 0px 1px 10px #951abe;
}

.imgf{
    float: left;
    height: 200px;
    width: 200px;
    margin-left: 10%;
}

.logo1{
    height: 60px;
    width: 60px;
    float: right;
    margin-top: 20%;
    
}

.logos{
    margin-right: 5%;
    float: right;
    margin-top: 4%;
    align-items: start;
    
}

.contato{
    float: right;
    margin-right: 10%;
    color: white;
    margin-bottom:-2% ;
    text-align: end;

}

.imgw{
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 20%;
}