/*Estilização do body*/
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

/*Estilização navbar*/
.top{
    width: 100%;
    height: 75px;
    background-image: url(../IMG/o.png);
    background-size: 100%;
    color: white;
    box-shadow: 0px 1px 10px #951abe ;
}

.menu2{
    color: white;
    float: right;
    display: inline;
    font-size: 20px;
}

.menu button{
    margin-top: 1.6%;
    background-color: #951abe;
    float: right;
    color: white;
    font-size: 20px;
    margin-right: 4%;
}

.hidden{
    display: none;
}


.menu-s{
    display: inline;
    font-size: 20px;
    float: right;
    text-decoration: none;
    margin-top: 1.4%;
 }

.menu-s ul,
.menu-s li{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    
}

.menu-s li{
    float: left;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.menu-s li:hover{
    background-color: rgb(92, 15, 92);
    border: solid white 1px;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-s a{
    text-decoration: none;
    color: white;
}

/*estilização do perfil*/

.perfil{
    float: right;
    margin-top: 0.5%;
    margin-right: 1.5%;
}

.iconperfil{
    max-height: 9vh;
    border-radius: 5vh;
    
}


.sobrenos{
    margin-left: 12.5%;
}

/*Estilização logo*/

.logo{
    float: left;
    margin-left: 60px;
    height: 60px;
}

.logo h2{
    float: left;
    color: #feae13;

}

.logo img{
    height: 60px;
    width: auto;
    margin-right: 5px;
}

/*Estilização pesquisar*/

.pesquisar{
    float: left;
    margin-left: 80px;
    border-radius: 5px;
    margin-top: 2.1%;
}

.pesquisar input{
    width: 170%;
    border-radius: 5px;
}


.historico{
    margin: 5%;
    margin-top: 6%;
}

.titulo{
    border-bottom: 1px solid  rgb(207, 205, 205);
    width: 87%;
}

.voltar{
    float: right;
    font-size: 10px;
    margin-top: -4%;
    background-color: #fc933d;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    cursor: pointer;
}

.voltar a{
    text-decoration: none;
    color: black;
}

.titulo h1{
    font-size: 50px;
    margin-bottom: -0.4%;
}

.history{
    margin-top: 6%;
}


.history img{
    height: 20%;
    width: 20%;
    float: left;
}

.history .resumo{
    display: inline;
    width: 50%;
    float: left;
    margin-left: 5%;
}

.history h2{
    border-bottom: 1px solid rgb(207, 205, 205);
    margin-bottom: -3%;
    font-size: 35px;
}

.history p{
    font-size: 22px;
}

.ler{
    float: right;
    background-color: #951abe;
    margin-top: 5%;
    color: white;
    font-size: 11px;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
    border-radius: 10px;
}


.history2{
    margin-top: 6%;
    float: left;
}


.history2 img{
    width: 20%;
    float: left;
}

.history2 .resumo{
    width: 50%;
    float: left;
    margin-left: 5%;
}

.history2 h2{
    border-bottom: 1px solid rgb(207, 205, 205);
    margin-bottom: -3%;
    font-size: 35px;
}

.history2 p{
    margin-top: 7%;
    font-size: 22px;
}

.footer{
    margin-top: 6%;
    float: left;
    height: 200px;
    width: 100%;
    background-image: url(../IMG/WhatsApp\ Image\ 2024-11-21\ at\ 19.30.45.jpeg);
    font-size: 20px;
    background-size: 120%;
    box-shadow: 0px 1px 10px #951abe;
}

.imgf{
    float: left;
    height: 200px;
    width: 200px;
    margin-left: 10%;
}

.logo1{
    height: 60px;
    width: 60px;
    float: right;
    margin-top: 20%;
    
}

.logos{
    margin-right: 5%;
    float: right;
    margin-top: 4%;
    align-items: start;
    
}

.contato{
    float: right;
    margin-right: 10%;
    color: white;
    margin-bottom:-2% ;
    text-align: end;

}

.imgw{
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 20%;
}
